@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  html {
    overflow-x: hidden;
    /* set y overflow dynamically based on app context */
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: black;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }

  .text-shadow {
    text-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
  }

  .menu-background {
    @apply bg-gradient-to-tr to-[#04192B] from-[#4B8388];
  }
}

@font-face {
  font-family: "MrRobot";
  src: local("GoldmanBold"), url("./fonts/MR_ROBOT.woff") format("truetype");
  font-weight: bold;
}

.font-mrrobot {
  font-family: "MrRobot";
}

.text-background {
  background: linear-gradient(15deg, #2a4764, #feffe2, #a047e0, white);
  background-clip: text;
  background-size: 300% 300%;
  animation: gradient 5.4s linear infinite;
}
